
/* 
 * Header search form
 */
header .product_search_form.radius_input {
    overflow: inherit;
}
.product_search_form.radius_input #searchList {
    width: 100%;
}
.product_search_form.radius_input #searchList > p {
    border: 1px solid #ced4da;
    border-top: 0;
    margin: 0;
    padding: 10px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 9999;
}
.product_search_form.radius_input #searchList > span {
    position: absolute;
    top: -35px;
    right: 130px;
    z-index: 9999;
}
.product_search_form.radius_input #searchList .autoList {
    position: absolute;
    border: 1px solid #ced4da;
    border-top: 0;
    z-index: 9999;
    left: 0;
    right: 0;
    height: 200px;
    background-color: white;
    overflow-y: auto;
}
#searchList .autoList li {
    padding: 8px 10px;
    border-bottom: 1px solid #ced4da;
    display: flex;
}
#searchList .autoList .name-price span {
    display: block;
}
@media (min-width: 992px) {
    header .product_search_form.radius_input {
        position: relative;
    }
}
/* 
 * Category mega menu 
 */
#navCatContent li.dropdown-mega-menu > a {
    font-size: 16px;
}
#navCatContent li.dropdown-mega-menu > a.dropdown-toggler {
    position: absolute;
    right: 0;
    top: 0;
    transform: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    bottom: 0;
    cursor: pointer;
}
#navCatContent li.dropdown-mega-menu > a.dropdown-toggler:after {
    position: static;
}